.index-prod {
  text-align: center;
  color: #010101;

  p {
    font-size: 20px;
    line-height: 33px;
    margin-bottom: 134px;
  }

  img {
    width: 90px;
    height: 90px;
    margin-bottom: 30px;
  }

  span {
    font-size: 20px;
  }

  .row {
    margin-bottom: 142px;
  }
}
