.chanpin-app
  .partial-title APP 定制或 Eva APP

  .container
    .row
      .col-xs-4.chanpin-app__cell
        img(src="/market-site/static/img/chanpin/And_icon.svg")
        h3 Android 开发文档
        .chanpin-app__half
          a(href="#") 开发文档概述
          a(href="#") 配置资料
          a(href="#") 用户接口
          a(href="#") 消息接口
          a(href="#") 错误码使用说明
        .chanpin-app__half
          a(href="#") 设备控制
          a(href="#") 设备控制
          a(href="#") 云端接口
          a(href="#") 消息推送

      .col-xs-4.chanpin-app__cell.chanpin-app__cell--middle
        img(src="/market-site/static/img/chanpin/ios_icon.svg")
        h3 iOS 开发文档

        a(href="#") 开发文档概述
        a(href="#") 用户接口
        a(href="#") 设备控制
        a(href="#") 设备联网

      .col-xs-4.chanpin-app__cell
        img(src="/market-site/static/img/chanpin/kaifawend_icon.svg")
        h3 H5 开发文档

        a(href="#") JS 接口文档
        a(href="#") 页面控制
        a(href="#") 用户 Token
        a(href="#") 设备控制
        a(href="#") 设备配置发现
        a(href="#") 其他文档
