.chanpin-yunying
  .partial-title 运营中心

  .container
    .row

      img(src="/market-site/static/img/chanpin/imge1.png")

      .chanpin-yunying__pills
        .chanpin-yunying__pill 专属后台
        .chanpin-yunying__pill 数据管理
        .chanpin-yunying__pill 快速开发
