.yunwei-jiagou
  .container
    .row

      img(src="/market-site/static/img/yunwei/imge3.png")

      h2 成熟的架构方案
      p 云平台作为资源共享池，提供了人、事、物的信息交换的平台，实现了人与设备的远程互动，以及数据挖掘、人力优化等增值服务。云平台向第三方云平台开放 API 接口，共同打造不同行业的自助运维平台。
