footer(class='site-footer')
  div(class='container')

      nav(class='site-footer__nav')
        ul
          each item, path in navitems
            li
              a(href = path)= item

      img(class='site-footer__brand' src="/market-site/static/img/logo-light.svg")
      span(class='site-footer__phone') 17017515600

      p(class='site-footer__info-line') 公司地址：深圳市龙华新区布龙路1010号5楼520
      p(class='site-footer__info-line') 邮箱：public@evacloud.cn
      p(class='site-footer__info-line') 商务合作：17017515600

      p(class='site-footer__copy')
      p(class='site-footer__copy') &copy;2016-2017 深圳市EVA科技有限公司 粤ICP备17102166号
