div(class='index-cooperate2')
  h2(class='partial-title') 携手Eva 合作共赢

  div(class='container')
    div(class='row')

      div(class='index-cooperate2__blocks')
        div(class='index-cooperate2__block')
          img(src='/market-site/static/img/index/imge4.png')

        div(class='index-cooperate2__block')
          img(src='/market-site/static/img/index/imge4.png')

        div(class='index-cooperate2__block')
          img(src='/market-site/static/img/index/imge4.png')

        div(class='index-cooperate2__block')
          img(src='/market-site/static/img/index/imge4.png')

        div(class='index-cooperate2__block')
          img(src='/market-site/static/img/index/imge4.png')

        div(class='index-cooperate2__block')
          img(src='/market-site/static/img/index/imge4.png')

        div(class='index-cooperate2__block')
          img(src='/market-site/static/img/index/imge4.png')

        div(class='index-cooperate2__block')
          img(src='/market-site/static/img/index/imge4.png')

        div(class='index-cooperate2__block')
          img(src='/market-site/static/img/index/imge4.png')

        div(class='index-cooperate2__block')
          img(src='/market-site/static/img/index/imge4.png')
