div(class='index-cooperate')
  h2(class='partial-title') 合作方式

  div(class='container')
    div(class='row')

      div(class='index-cooperate__cell')
        img(src="/market-site/static/img/index/yonghuzhuce.svg")
        h5 用户注册
        ul
          li 选择帐号类型
          li 审核认证通过

      div(class='index-cooperate__cell')
        img(src="/market-site/static/img/index/chuangjianchanpin.svg")
        h5 创建产品
        ul
          li 选择产品类别
          li 输入产品名
          li 选择产品联网类型

      div(class='index-cooperate__cell')
        img(src="/market-site/static/img/index/dingyigongneng.svg")
        h5 定义产品功能
        ul
          li 产品图标
          li 产品原型
          li 固件版本
          li 模组型号
          li 产品备注

      div(class='index-cooperate__cell')
        img(src="/market-site/static/img/index/dingyishuju.svg")
        h5 定义产品数据
        ul
          li 平台预定义功能
          li 自定义功能

      div(class='index-cooperate__cell')
        img(src="/market-site/static/img/index/kaifaceshi.svg")
        h5 开发测试产品
        ul
          li 平台预定义数据
          li 自定义数据结构

      div(class='index-cooperate__cell')
        img(src="/market-site/static/img/index/fabuchanpin.svg")
        h5 发布产品
        ul
          li 调试凭据
          li 购买开发设备

      div(class='index-cooperate__cell')
        img(src="/market-site/static/img/index/chanpinyunying.svg")
        h5 产品运营
        ul
          li 消费者使用
          li 产品管理
          li 用户管理
