div(class='index-feature')
  h2(class='partial-title partial-title--reverse') Eva云平台特色

  div(class='container')
    div(class='row')

      div(class='col-xs-3')
        div(class='feature-card')
          img(src='/market-site/static/img/index/anquan_icon.svg')
          h3 安全保证
          p 全球多节点部署，节点之间互通，多重安全保证

      div(class='col-xs-3')
        div(class='feature-card')
          img(src='/market-site/static/img/index/quanfanwei_icon.svg')
          h3 全方位服务
          p 一对一的技术支持与服务。极简接入，智能设备接入云端

      div(class='col-xs-3')
        div(class='feature-card')
          img(src='/market-site/static/img/index/zhouqijishu_icon.svg')
          h3 周期技术支持
          p 产品初期和产品运维，均会有专门技术支持

      div(class='col-xs-3')
        div(class='feature-card')
          img(src='/market-site/static/img/index/zhuangzhu_icon.svg')
          h3 专注
          p Eva只做云平台和APP，联网模块与厂商深度合作
