div(class='index-stratage')
  h2(class='partial-title') 智能硬件解决方案
  img(class='index-stratage__photo' src="/market-site/static/img/index/imge3.png")

  table(class='index-stratage__table')
    tr
      td
        img(src="/market-site/static/img/index/zhinengwangguan.svg")
        h4 智能网关
      td
        img(src="/market-site/static/img/index/huanjingjinghua.svg")
        h4 环境净化
      td
        img(src="/market-site/static/img/index/chufangdianqi.svg")
        h4 厨房电器
      td
        img(src="/market-site/static/img/index/weiyudianqi.svg")
        h4 卫浴电器
      td
        img(src="/market-site/static/img/index/dengjuzhaoming.svg")
        h4 灯具照明
    tr
      td
        img(src="/market-site/static/img/index/jujiaanfang.svg")
        h4 居家安防
      td
        img(src="/market-site/static/img/index/kaiguanchazuo.svg")
        h4 开关插座
      td
        img(src="/market-site/static/img/index/huanjingjiance.svg")
        h4 环境监测
      td
        img(src="/market-site/static/img/index/zhinengdanpin.svg")
        h4 智能单品
      td
        img(src="/market-site/static/img/index/shenghuodianqi.svg")
        h4 生活电器
