.lianxi-address
  .container
    .row
      img(src="/market-site/static/img/lianxiwomen/imge4.png")
      p
        | 总部地址
        br
        | 深圳市龙华新区布龙路1010号5楼520
        br
        | 电话: 17017515600
        br
        | 邮箱: public@evacloud.cn
