.lianxi-jumbotron
  .container
    .row
      img(src="/market-site/static/img/lianxiwomen/left1.svg")
      h1 让智能连接生活
      img(src="/market-site/static/img/lianxiwomen/right1.svg")

      .lianxi-jumbotron__intro
        img(src="/market-site/static/img/lianxiwomen/imge1.png")
        h2 公司介绍
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, molestiae itaque tenetur adipisci numquam quaerat aliquid enim, fuga nulla laudantium ea, autem blanditiis. Tenetur dolores reprehenderit ipsum veniam sequi, magni.
          br
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis aperiam porro nulla magni molestiae labore dignissimos reiciendis eligendi, debitis voluptates alias possimus similique pariatur consequatur eaque, provident voluptas. Nisi, quia.

.clearfix

.lianxi-tags
  .container
    .row(style={'position': 'relative'})
      .lianxi-tags__tag(style={
        'top': '-70px',
        'left': '0'
      }) 云中共生
      .lianxi-tags__tag(style={
        'top': '0',
        'left': '400px'
      }) 科技共享
      .lianxi-tags__tag(style={
        'top': '-90px',
        'right': '0'
      }) 时代共赢
