.lianxi-address {
  background: no-repeat center/cover url('/market-site/static/img/lianxiwomen/imge3.jpg');
  padding-top: 62px;
  height: 850px;

  img {
    width: 1080px;
    height: 397px;
  }

  p {
    color: #fff;
    font-size: 25px;
    margin-top: 58px;
    line-height: 48px;
  }
}
