doctype html
html(lang="zh")
  - var current = '/contact.html'

  include partials/common/head.pug
  body
    include partials/common/topbar.pug

    include partials/lianxi/jumbotron.pug
    include partials/lianxi/address.pug

    include partials/common/footer.pug
