doctype html
html(lang="zh")
  - var current = '/market-site/'

  include partials/common/head.pug
  body
    include partials/common/topbar.pug
    include partials/index/jumbotron.pug
    include partials/index/product-and-services.pug
    include partials/index/feature.pug
    include partials/index/stratage.pug
    include partials/index/cooperate.pug
    include partials/index/cooperate2.pug

    include partials/common/footer.pug
