doctype html
html(lang="zh")
  - var current = '/operation.html'

  include partials/common/head.pug
  body
    include partials/common/topbar.pug

    include partials/yunwei/jumbotron.pug
    include partials/yunwei/shuju.pug
    include partials/yunwei/jiagou.pug
    include partials/index/cooperate.pug

    include partials/common/footer.pug
