doctype html
html(lang="zh")
  - var current = '/product.html'

  include partials/common/head.pug
  body
    include partials/common/topbar.pug

    include partials/chanpin/jumbotron.pug
    include partials/chanpin/app.pug
    include partials/chanpin/yunying.pug
    include partials/index/cooperate.pug

    include partials/common/footer.pug
