.yunwei-jiagou {
  padding: 84px 0;
  background-color: #f8f8f8;

  img {
    float: left;
    width: 650px;
    height: 490px;
  }

  h2 {
    font-size: 32px;
    margin: 136px 0 54px 0;
  }

  p {
    font-size: 18px;
  }
}
